.category {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 40px 0 0 20px;
    width: 100%;
    cursor: pointer;
    padding-bottom: 40px;
    border-bottom: 2px solid var(--border);
}

.category__item-container {
    position: relative;
}

.category__item {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.category__image {
    object-fit: cover;
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
    border: 1px solid var(--borderSecondary);
}

.category__image-hover {
    position: absolute;
    background: var(--secondary);
    opacity: 50%;
    height: 13vw;
    width: 13vw;
    border-radius: 50%;
    border: 1px solid var(--borderSecondary);
    top: 0;

    display: none;
}

.category__image-hover-btn {
    padding: 10px;
    color: var(--primary);
    border: 2px solid var(--primary);
    text-align: center;
    width: 50%;
    /* margin: 45% 25% 0 25%; */
}

.category__item-container:hover .category__image-hover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category__name {
    margin-top: 20px;
    font-size: 20px;
    /* letter-spacing: 5px; */
}
