.delete-product__input {
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0%;
    grid-auto-flow: row;
    grid-template-areas: ". .";
    width: 100%;
    margin-bottom: 20px;
}

.delete-product__delete-product-box {
    margin: 20px;
    font-size: x-large;
    border-radius: 0px;
    border: 2px solid var(--secondary);
    padding: 10px;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    background: var(--primary);
}

.delete-product__delete-product-box:focus {
    outline: none;
    border: 4px solid var(--secondary);
    transition: 0.1s ease-in-out;
}

.delete-product__helper-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr; */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: ". .";
    /* width: 33%; */
}

.delete-product__row {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border);
    transition: 0.2s ease-in;
    height: 10vh;
    position: relative;
}

.delete-product__btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 300;
}
.delete-product__btn:hover {
    text-decoration: underline;
}

.delete-product__row:hover {
    border: 5px solid var(--border);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.delete-product__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--secondary);
    margin: 20px;
    padding: 10px;
    transition: 0.2s ease-in;
}
/* 
.delete-product__button:hover .delete-product__button-text {
    cursor: pointer;
    font-weight: 500; 
}*/
/* .delete-product__button:hover {
    cursor: pointer;
    padding: 7px;
    border: 5px solid var(--secondary);
    transition: 0.1s ease-in-out;
} */

.delete-product__button-text {
    font-weight: 400;
    font-size: 40px;
    transition: 0.1s ease-in-out;
}

.delete-product__helper-text {
    font-size: 30px;
    font-weight: 400;
}
