* {
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Roboto;
    letter-spacing: 5px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -o-user-drag: none;
}

body {
    max-width: 100vw;
    background: var(--primary);
}

*::-webkit-scrollbar {
    display: none;
}
* {
    color: var(--secondary);
}

/* :root {
    --primary: #000000;
    --secondary: #ffffff;
    --border: #252420;
    --borderSecondary: #707070;
} */

:root {
    --primary: #ffffff;
    --secondary: #000000;
    --border: #eae8e4;
    --borderSecondary: #707070;
}
